# IDEA ignores
*.iml
*.ipr
*.iws
/.idea/*

# IDEA Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
!/.idea/misc.xml
!/.idea/dictionaries/

.classpath
.project
.settings/
target/
nbproject/
nb-configuration.xml
bin/
local.properties
project.properties

